# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build Output
dist/
dist-ssr/
build/

# Environment Variables
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Chronologix Specific
# Prevent committing local backups containing sensitive encrypted data
chronologix-backup-*.json
